// button.scss
@use "../utils" as *;

.headerBanner__button {
  // display: inline-block;
  transform: translateY(1px);
  // float: right;
}


.inquiryButton {
  background: white;
  border: 1px solid $gray-200;
  width: 140px;
  height: 40px;
  
  // float: left;
  // padding: 10px 25px;
}