// 아이콘 이미지

.searchIcon{
  background: url("../../images/Icon/Search.png") no-repeat;
  width: 40px;
  height: 40px;
  border: 0;
}

.cancelIcon{
  background: url("../../images/Icon/Cancel.png") no-repeat;
  width: 30px;
  height: 30px;
  border: 0;
  float: right;
}

.heartIcon{
  display: block;
  background: url("../../images/Icon/Heart.png") no-repeat;
  width: 32px;
  height: 31px;
  border: 0;
}
.locationIcon{
  display: block;
  background: url("../../images/Icon/Location.png") no-repeat;
  width: 32px;
  height: 31px;
  border: 0;
}
.blackCart__Icon{
  display: block;
  background: url("../../images/Icon/Cart-black.png") no-repeat;
  width: 32px;
  height: 31px;
  border: 0;
}


.blog{
  display: block;
  background: url("../../images/Icon/Blog.svg") no-repeat;
  width: 30px;
  height: 30px;
  border: 0;
}

.facebook{
  display: block;
  background: url("../../images/Icon/FaceBook.svg") no-repeat;
  width: 30px;
  height: 30px;
  border: 0;
}

.instagram{
  display: block;
  background: url("../../images/Icon/Instagram.svg") no-repeat;
  width: 30px;
  height: 30px;
  border: 0;
}

.naverPost{
  display: block;
  background: url("../../images/Icon/NaverPost.svg") no-repeat;
  width: 30px;
  height: 30px;
  border: 0;
}

.youtube{
  display: block;
  background: url("../../images/Icon/Youtube.svg") no-repeat;
  width: 30px;
  height: 30px;
  border: 0;
}

.cartIcon{
  position: absolute;
  display: block;
  background: url("../../images/Icon/Cart_white.svg");
  width: 45px;
  height: 45px;
  top:258px;
  left: 189px;
}