
.logoKarly{
  display: block;
  background: url("../../images/logo2.svg") no-repeat;

  width: 80px;
  height: 45px;
}

.logoIsms{
  display: block;
  background: url("../../images/logo_isms.png") no-repeat;
  width: 35px;
  height: 35px;
}

.logoPrivacy{
  display: block;
  background: url("../../images/logo_privacy.png") no-repeat;
  width: 35px;
  height: 35px;
}

.logoWoori{
  display: block;
  background: url("../../images/logo_wooriBank.png") no-repeat;
  width: 35px;
  height: 35px;
}

.logoToss{
  display: block;
  background: url("../../images/logo_tosspayments.png") no-repeat;
  width: 105px;
  height: 35px;
}