// footer.scss
@use "../utils" as *;


footer {
  color: $content;
  border-top: 1px solid $gray-100;
  // @include paddingPct(10);
  // @include flexbox($direction:column);
}

.footerTop {
  // margin: 0;
  // width: 1000px;
  @include paddingPct(15);


}

//컴퍼니 영역

.footerCompany {
  border-top: 1px solid $gray-100;
  // position: relative;
}

.companyWrap {
  @include flexbox($justify: space-between);
  column-gap: 10px;
  // margin: 20px 0;
}

.company__list {
  // width: 100px;
  @include flexbox;
  font-size: rem(10px);
  line-height: 18px;
  // display: flow-root;
}

.companySummary{
  // display: block;
  // float: right;
  line-height: 18px;
}

.isms {

  // width: 25%;
  @include flexbox;
  // @include flexbox();
  &::before {
    content: "";
    display: block;
    background: url("../../images/logo_isms.png") no-repeat;
    width: 35px;
    height: 35px;
    // float: left;
    // position: absolute;
  }

}

.privacy {
  @include flexbox;
  &::before {
    content: "";
    display: block;
    background: url("../../images/logo_privacy.png") no-repeat;
    width: 35px;
    height: 35px;
    // position: absolute;
  }

}

.woori {
  @include flexbox;
  
  &::before {
    content: "";
    display: block;
    background: url("../../images/logo_wooriBank.png") no-repeat;
    width: 35px;
    height: 35px;
    
  }

}

.toss {
  @include flexbox;
  &::before {
    content: "";
    display: block;
    background: url("../../images/logo_tosspayments.png") no-repeat;
    width: 105px;
    height: 35px;
    padding-right: 100px;
  }

}

//카피라이트 영역
.footerBottom {
  background: $gray-50;
  font-size: rem(10px);
  color: $gray-400;

  @include paddingY(25px);
  @include flexbox($direction: column, $justify: center, $items: center);

  span {
    // display: block;
    @include paddingY(3px);
  }

  small {
    @include paddingY(10px);
  }
}