// footer.scss
@use "../utils" as *;


footer {
  color: $content;
  border-top: 1px solid $gray-100;
  // @include paddingPct(10);
  // @include flexbox($direction:column);
}

.footerTop {
  // margin: 0;
  // width: 1000px;
  @include paddingPct(15);


}

.footerCompany {
  border-top: 1px solid $gray-100;
}

.companyWrap{
  @include flexbox($justify:space-between);
}

.company__list{
  // width: 100px;
  @include flexbox;
  font-size: rem(10px);
}

//카피라이트 영역
.footerBottom {
  background: $gray-50;
  font-size: rem(10px);
  color: $gray-400;

  @include paddingY(25px);
  @include flexbox($direction: column, $justify: center, $items: center);

  span {
    // display: block;
    @include paddingY(3px);
  }

  small {
    @include paddingY(10px);
  }
}