// header.scss
@use "../utils" as *;
@use "../components" as *;


header{
  
  @include flexbox($direction: column);
  color: $content;
}

.headerContainer{
  @include paddingPct(15);
  position: relative;
}

.searchContainer{
  @include flexbox($items:center,$justify:space-between);
  padding-top: 40px;
  padding-bottom: 10px;
  // flex-grow: 1;
}

.logoContainer{
  @include flexbox($justify:space-between,$items:center);
  column-gap: 10px;
  font-weight: bold;
  font-size: 18px
}




.searchForm{

  label{
    @include a11yHidden;
  }

  &__input{

    width: 100%;
    @include padding(15px);
    border: 1px solid $primary;
    border-radius: 3px;
  }
}

.memberIcon{
  @include flexbox();
  column-gap: 20px;
  // flex-grow: 1;
  // flex-basis: 0;
}


// 네이게이션 영역
.nav{
  @include flexbox($justify:space-between);
  @include paddingY(20px);
  
  &__list{
    
    font-weight: 600;
    width: 500px;
    @include flexbox($justify:space-around);
  }
}

// 헤더 배너 영역
.headerBanner{

  display: inline-flex;
  flex-flow: row wrap;
  // justify-content: space-between;
  align-items: center;
  // font-weight: 400;
  // position: relative;
  @include paddingPct(15);
  @include paddingY(10px);
  
  background: $primary;
  color: $white;
  // position: fixed;
  
  // text-align: center;
  
  // @include flexbox;
  order: -1;

  &__link{
    padding: 0;
    text-align: center;
    
    display: inline-block;
    // flex-grow: 1;
  }
}

//멤버 서비스 (회원가입 영역)
.memberOnly{
 
  @include flexbox($justify:flex-end);
  position: absolute;
  // top: 50px;
  top:0;
  right: 15%;
  // top: 50%;

}



