@use "../utils" as *;
@use "../components" as *;

.mainContainer {


  @include flexbox($direction: column, $items: center);
  font-family: Pretendard;

  padding: 48px 0px 80px 0px;
  gap: 48px;
}

.productList__title {
  font-size: 21px;
  font-weight: 600;
  line-height: 150%;
}

//제목 외 전체 컨테이너

.productContainer {
  width: 100%;
  @include paddingPct(20);
  @include flexbox($items: flex-start);
}

//사이드바 영역

.sideBar {
  @include flexbox($direction: column);
  flex: 1 0 0;
}

.product {
  @include flexbox($direction: column, $items: flex-start);
}

.reset_img {
  font-size: 10px;
  font-weight: 600;
  line-height: 160%;
  color: $gray-300;
}

.brand__wrap {
  @include flexbox($direction: column);
}

.brand__list {
  @include flexbox($direction: column, $items: flex-start);

  width: 220px;
  padding: 12px 0px 12px 0px;

  gap: 8px;

  &:hover {
    background: $gray-100;
  }

}

.btn__list {
  @include flexbox($justify: center, $items: center);
  // padding: 12px 0px 12px 0px;

  gap: 8px;

  width: 220px;
  height: 42px;
  padding: 12px 0px 14px 0px;

  border-bottom: 1px solid $gray-100;
}


.brand__link {

  display: block;

  width: 100%;
  height: 100%;
  @include flexbox($items: center);

  &::before {
    content: "";
    background: url("../../images/Icon/Check.svg");
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &::after {
    content: "1";
    font-size: 12px;
    color: $gray-300;
    margin-left: 4px;
  }
}

.sideBar__num {
  @include flexbox($items: center);
  gap: 8px;

  &::after {
    content: "1";
    font-size: 10px;
    font-weight: 600;
    line-height: 160%;
    color: $gray-300;
  }
}

// 프로덕트 메뉴바
.menuContainer {
  width: 100%;
  padding: 0px 0px 20px 0px;
  @include flexbox($justify: space-between, $items: center);
}

.bold__main {
  font-weight: bold;
  color: $content;
}

.recommend {
  @include flexbox($items: center);

  &::after {
    content: "";
    display: inline-block;
    background: url("../../images/Icon/question.svg");
    width: 14px;
    height: 20px;
    margin-left: 5px;
  }
}

.menu__wrap {
  @include flexbox($items: center);
  color: $gray-300;
  font-weight: 500;
  gap: 4px;
  // flex-grow: 1;
}

//상품
.product__line {
  @include flexbox($direction: column);
  gap: 24px;
}

.product__list {
  position: relative;
}

.product__wrap {
  @include flexbox;
  gap: 16px
}

.product__link {
  @include flexbox($direction: column);
  gap: 16px;
}


.product__info {
  @include flexbox($direction: column);
  gap: 8px;
}

.imgContainer {
  order: -1;
  // position: relative;
}

.product__img {
  // position: relative;
}


.tag {
  color: $gray-400;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
}

.product__price {
  font-size: 21px;
  font-weight: 600;
  line-height: 150%;
}

.summary {
  font-size: 12px;
  color: $gray-400;
}

.discount {
  @include flexbox;
  gap: 8px;
}

.discountRate {
  font-size: 21px;

  font-weight: 600;
  line-height: 150%;
  color: $orange;
}

.discountPrice {
  font-size: 21px;
  font-weight: 600;
  line-height: 150%;
}

.nonDiscount {
  font-size: 12px;
  color: $gray-400;
  text-decoration: line-through;
}

.product__badge {
  @include flexbox;
  gap: 6px;
}

.karlyBadge {
  padding: 4px;
  background: $gray-100;
  color: $primary;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.textBadge {
  padding: 4px;
  background: $gray-100;
  color: $content;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.product__img {

  width: 249px;
  height: 320px;

}

.movePage {
  @include flexbox($direction:column,$items:center);

}

.movePage__wrap {
  @include flexbox($items: center);
  padding: 48px 0px 0px 0px;

}


//페이지 넘기기 버튼 영역

.movePage__list {

  position: relative;
  width: 34px;
  height: 34px;
  border: 1px solid $gray-100;

  &:hover {
    background: $gray-100;
  }
}


.movePage__link{
  display: block;
  width: 100%;
  height: 100%;
}

.doubleRight {
  position: absolute;
  display: block;
  background: url("../../images/Icon/doubleRight.png") no-repeat;
  width: 10px;
  height: 8px;
  
  @include posCenter;

}

.right {
  // padding: 20px;
  position: absolute;
  display: block;
  background: url("../../images/Icon/right.png") no-repeat;
  width: 5px;
  height: 8px;
  
  @include posCenter;

}

.pageNum {
  position: absolute;
  font-size: 12px;
  font-family: Inter;
  color: $content;
  
  @include posCenter;

}

.doubleLeft {
  position: absolute;
  display: block;
  background: url("../../images/Icon/doubleLeft.png") no-repeat;
  width: 10px;
  height:8px;
  
  @include posCenter;

}

.left {
  position: absolute;
  display: block;
  background: url("../../images/Icon/left.png") no-repeat;
  width: 5px;
  height: 8px;
  @include posCenter;

}